.node {
    cursor: pointer;
  }
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  .node--leaf {
    fill: white;
  }
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
  }
  .label:hover {
    fill: #000;
  }
  #info {
    position: relative;
    top: 0;
    right: 20px;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Start hidden, will be made visible on hover */
    transition: opacity 0.3s;
    margin-top: 10px;
    font-size: 2em;
    margin-bottom: 30px;
    width: max-content;
  }
  