.content-container {
  width: 90%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally in flex containers */
}

/* Ensure outer-container also centers its children */
.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the .content-container divs */
  border: 2px solid #333;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto; /* Centers the container itself */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("image.png");
  background-size: cover;
  background-position: center;
}

.main-heading {
  color: white;
  margin-bottom: 20px;
}

hr {
  width: 80%;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .content-container, .outer-container {
    width: 100%; /* Adjust width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .outer-container {
    padding: 10px;
    margin: 10px 0;
  }

  hr {
    width: 95%;
  }
}
